mpd:
  host: localhost
  port: 6600
  password: 

transmission:
  host: localhost
  port: 9091
  user: transmission
  password: transmission

buttons:
  up: BOARD36
  down: BOARD31
  left: BOARD32
  right: BOARD33
  mid: BOARD37
  set: BOARD38
  rst: BOARD40

radio:
  presets:
    soma/groovesalad: "https://ice2.somafm.com/groovesalad-128-mp3"
    soma/dronezone: "https://ice2.somafm.com/dronezone-128-mp3"
    soma/lush: "https://ice2.somafm.com/lush-128-mp3"

mntreg: "^/|xoros|data|aux"
