mpd:
  host: localhost
  port: 6600
  password: 

buttons:  #use BOARDxx naming for physical pinout from https://gpiozero.readthedocs.io/en/stable/recipes.html#pin-numbering
  up: BOARD36
  down: BOARD31
  left: BOARD32
  right: BOARD33
  mid: BOARD37
  set: BOARD38
  rst: BOARD40
  debouncems: 100
  keymock: false

display:
  type: ssd1306
  screen_lines: 4

radio:
  presets:
    soma/groovesalad: "https://ice2.somafm.com/groovesalad-128-mp3"
    soma/dronezone: "https://ice2.somafm.com/dronezone-128-mp3"
    soma/lush: "https://ice2.somafm.com/lush-128-mp3"

sys:
  mntreg: "^/"
  # use Dn naming for GPIOn from https://learn.adafruit.com/arduino-to-circuitpython/digital-in-out
  dht_pin: 

transmission:
  host: localhost
  port: 9091
  user: transmission
  password: transmission