[Unit]
Description=Rasplay Hyper Controler V2. Mpd frontent, buttons, oled display and more for raspberri pi
#Wants=
After=mpd.service
Conflicts=raplay1.service

[Service]
Type=exec
User=rasplay2
Environment=CONFIG_FILE=/usr/local/etc/rasplay2/config.yaml
ExecStart=/usr/local/share/rasplay2/venv/bin/python3 /usr/local/share/rasplay2/main.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=basic.target
