[Unit]
Description=Rasplay Hyper Controler V2. Mpd frontent. Buttons and oled dusplay for rpi 
#Wants=
After=mpd.service
Conflicts=raplay1.service

[Service]
Type=exec
ExecStart=/usr/local/share/rasplay2/venv/bin/python3 /usr/local/share/rasplay2/main.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=basic.target
